@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Roboto:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 20 14.3% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 20 14.3% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;
        --primary: 24.6 95% 53.1%;
        --primary-foreground: 60 9.1% 97.8%;
        --secondary: 60 4.8% 95.9%;
        --secondary-foreground: 24 9.8% 10%;
        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;
        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --ring: 24.6 95% 53.1%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 60 9.1% 97.8%;
        --card: 20 14.3% 4.1%;
        --card-foreground: 60 9.1% 97.8%;
        --popover: 20 14.3% 4.1%;
        --popover-foreground: 60 9.1% 97.8%;
        --primary: 20.5 90.2% 48.2%;
        --primary-foreground: 60 9.1% 97.8%;
        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;
        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 60 9.1% 97.8%;
        --destructive: 0 72.2% 50.6%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 12 6.5% 15.1%;
        --input: 12 6.5% 15.1%;
        --ring: 20.5 90.2% 48.2%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground bg-primary_background;
    }
}
.nav-blur {
    background: rgba(40, 40, 40, 0.44);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.9px);
    -webkit-backdrop-filter: blur(15.9px);
    border: 1px solid rgba(40, 40, 40, 0.44);
}
.eclipse {
    width: 40%;
    height: 40%;
    position: absolute;
    top: 0;
    z-index: -1;
    left: -20%;
    flex-shrink: 0;
    border-radius: 446px;
    background: linear-gradient(
        180deg,
        rgba(254, 141, 13, 0.27) 0%,
        rgba(254, 141, 13, 0) 100%
    );
    filter: blur(50px);
}

.navbar {
    background: rgba(251, 251, 251, 0.75);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

/* ************************************ Scrollbar******/
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #febd14 #dfe9eb;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
*::-webkit-scrollbar-track {
    background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
    background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
    background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #fe9c08;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #e27c09;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #ff8c0a;
}

@media (max-width: 800px) {
    *::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
}
/* ************************************ Scrollbar******/
/*************Home clip*******/
.home-clip {
    clip-path: polygon(30% 100%, 71% 100%, 100% 37%, 100% 100%, 0 100%, 0 40%);
}
/*************Home clip*******/

/********** Hiding scrollbar ****/
.hideScrollbar::-webkit-scrollbar {
    height: 0 !important;
}

.hideScrollbar {
    overflow: -moz-scrollbars-none;
}

.hideScrollbar {
    -ms-overflow-style: none;
}
/********** Hiding scrollbar ****/
.nav-blur {
    background-color: rgba(254, 141, 13, 0.5);
}

.custom-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 6px;
    margin: auto 2px;
    background-color: #fe8e0d50;
}
.custom-pagination-bullet.custom-pagination-bullet-active {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 6px;
    margin: auto 2px;
    background-color: #fe8d0d;
}
/* .swiper-pagination {
    top: 100px;
} */
